{
    "env": {
        "jest": true,
        "es2021": true,
        "browser": true
    },
    "extends": [
        "airbnb",
        "prettier",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "plugin:react-hooks/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "prettier",
        "react-hooks",
        "@typescript-eslint",
        "simple-import-sort"
    ],
    "overrides": [
        {
            "files": [
                ".js",
                ".ts",
                ".jsx",
                ".tsx",
                "**/*.spec.js",
                "**/*.test.ts",
                "**/*.test.tsx",
                "**/*.spec.tsx"
            ]
        }
    ],
    "rules": {
        "new-cap": [
            "error",
            {
                "newIsCap": false
            }
        ],
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ],
        "quotes": [
            "error",
            "single"
        ],
        "no-underscore-dangle": "off",
        "jsx-a11y/label-has-associated-control": [
            2,
            {
                "labelComponents": [
                    "CustomInputLabel"
                ],
                "labelAttributes": [
                    "label"
                ],
                "controlComponents": [
                    "CustomInput"
                ],
                "depth": 3
            }
        ],
        "jsx-a11y/no-autofocus": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "no-eval": "error",
        "default-param-last": "off",
        "import/extensions": "off",
        "import/prefer-default-export": "off",
        "consistent-return": "off",
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "prev": "*",
                "next": "return"
            },
            {
                "blankLine": "always",
                "prev": [
                    "const",
                    "let",
                    "var"
                ],
                "next": "*"
            },
            {
                "blankLine": "any",
                "prev": [
                    "const",
                    "let",
                    "var"
                ],
                "next": [
                    "const",
                    "let",
                    "var"
                ]
            }
        ],
        "no-shadow": "off",
        "no-continue": "off",
        "no-restricted-syntax": "off",
        "no-debugger": "error",
        "no-unused-vars": "off",
        "no-use-before-define": "off",
        "no-plusplus": "off",
        "no-console": "off",
        "no-param-reassign": [
            "error",
            {
                "props": true,
                "ignorePropertyModificationsFor": [
                    "state",
                    "self"
                ]
            }
        ],
        "react/display-name": "off",
        "react/react-in-jsx-scope": "off",
        "react/prop-types": "off",
        "react/no-array-index-key": "off",
        "react/require-default-props": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".jsx",
                    ".tsx"
                ]
            }
        ],
        "react/function-component-definition": [
            2,
            {
                "namedComponents": "arrow-function",
                "unnamedComponents": "arrow-function"
            }
        ],
        "react/jsx-props-no-spreading": [
            0,
            {
                "html": "ignore"
            }
        ],
        "react/prefer-stateless-function": "off",
        "@typescript-eslint/no-unused-vars": [
            "warn"
        ],
        "@typescript-eslint/explicit-function-return-type": "off",
        "camelcase": "off",
        "import/no-extraneous-dependencies": [
            "off",
            {
                "devDependencies": true,
                "peerDependencies": true
            }
        ],
        "simple-import-sort/exports": "error",
        "simple-import-sort/imports": [
            "error",
            {
                "groups": [
                    [
                        "^react",
                        "^styled-components",
                        "^uuid",
                        "^@?\\w"
                    ],
                    [
                        "^(@|components)(/.*|$)"
                    ],
                    [
                        "^\\u0000"
                    ],
                    [
                        "^\\.\\.(?!/?$)",
                        "^\\.\\./?$"
                    ],
                    [
                        "^\\./(?=.)(?!/?$)",
                        "^\\.(?!/?$)",
                        "^\\./?$"
                    ],
                    [
                        "^.+\\.?(css)$"
                    ]
                ]
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "typescript": {},
            "node": {
                "paths": [
                    "src"
                ],
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        }
    }
}
